* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

header {
    margin-top: 47px;
    margin-left: 42px;

}

.botao-header {
    width: 124px;
    height: 51px;
    background: #6fbf44;
    font-weight: 500;
    font-size: 16px;
    color: #ffffff;
    border: 1px;
    border-radius: 6px;
    cursor: pointer;
    line-height: 29px;
    letter-spacing: 1px;

}

.img-logo {
    width: 595.18px;
    height: 500px;
    margin-top: 163px;
    margin-left: 121px;
    display: inline-block;
}

h1 {
    color: #161a49;
    font-size: 62px;
    font-weight: 700;
    line-height: 82px;
    letter-spacing: 0.596154px;
    width: 493px;

}

p {
    font-weight: 400;
    font-size: 18px;
    color: #4b505a;
    line-height: 33px;
    width: 493px;
    letter-spacing: 0.5px;
    margin-top: 47px;
    margin-bottom: 52px;
}

.link-header {

    line-height: 24px;
    margin-right: 32px;
    font-weight: 400;
    font-size: 14px;
    color: #17233d;
    cursor: pointer;
    text-align: center;
    letter-spacing: 0.875px;
}

section {
    display: inline-block;
    margin-left: 84px;
}

.botao-main {
    font-weight: 500;
    font-size: 18px;
    color: #6fbf44;
    background: none;
    border: none;
    letter-spacing: 1px;
    line-height: 27px;
    cursor: pointer;

}

@media screen and (max-width: 900px) {



div {
    
    
        width: 100%;
        height: 100%;
        padding: 0;
        margin: 0;
    

}
main {
    display: flex;
    flex-direction: column-reverse;
}
   

    a {
        display: none;
    }

    .botao-header {

        border: 1px;
        border-radius: 6px;

        font-size: 12px;
        line-height: 18px;
        width: 91px;
        height: 31px;
        margin: 0 auto;










    }



    h1 {
        width: auto;
        font-size: 30px;
        line-height: 30px;
        margin: 83px 55px 0 55px;
        text-align: center;




    }



    p {
        font-size: 18px;
        line-height: 33px;
        margin: 29px 43px 0 43px;
        letter-spacing: 0.5px;
        width: auto;
        text-align: center;



    }










    .botao-main {
        font-size: 18px;
        line-height: 23px;
        letter-spacing: 1px;
        margin: 26px auto;
        display: block;



    }



    .img-logo {

        margin: 59px auto;
        width: 312px;
        height: 288px;
        display: block;



    }
}